@import url('https://fonts.googleapis.com/css?family=Lato:100,400|Raleway:400,700');

/*font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;*/

body{

}




.ba-header{
	height: 100vh;
	background: url(../img/mainbg.jpg) no-repeat;
	position: relative;

	.ba-conteiner__main{
		padding-top: 50px;
	}

	.ba-logo{
		outline: none;

		&:hover{
			opacity: .6;
		}

	}

	.ba-menu{
		list-style: none;
		text-align: right;

		.ba-menu__item{
			display: inline-block;
			padding-right: 50px;


			.ba-menu__item-link{
				text-transform: uppercase;
				text-decoration: none;
				font-family: 'Lato', sans-serif;
				color: #fffffe;
				font-size: 13.92px;
				font-weight: 500;

				&:hover{
					border-bottom: 1px solid #fff;
				}
			}
		}
	}

	.ba-main-page__content{
		 position: absolute;
    		left: 50%;
    	top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

		.ba-caption{
			position: relative;
			text-align: center;

			&:after{
				content: "";
				position: absolute;
				width: 86px;
				height: 2px;
				background-color: #FFF;
				left: 50%;
				-webkit-transform: translateX(-50%);
				   -moz-transform: translateX(-50%);
				    -ms-transform: translateX(-50%);
				     -o-transform: translateX(-50%);
				        transform: translateX(-50%);
			}

			h1{
			font-family: 'Raleway', sans-serif;
			color: #ffffff;
			font-size: 48px;
			font-weight: 700;
			text-transform: uppercase;
			}

		}

			p{
				font-family: 'Lato', sans-serif;
				color: #fffefe;
				font-size: 22px;
				font-weight: 400;
				margin-top: 90px;
				text-align: center;
			}
	}

	.ba-header__scroll{
		position: absolute;
		bottom: 46px;
		left: 50%;
		-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				 -o-transform: translateX(-50%);
				    transform: translateX(-50%);
		svg{
			fill: rgb(255,255,255);

		&:hover{
			fill: blue;
			}
		}
	}
}
.ba-services{
	.ba-caption{
		text-align: center;
		margin-top: 116px;
		position: relative;

		&:after{
				content: "";
				position: absolute;
				width: 86px;
				height: 2px;
				background-color: #222222;
				left: 50%;
				-webkit-transform: translateX(-50%);
				   -moz-transform: translateX(-50%);
				    -ms-transform: translateX(-50%);
				     -o-transform: translateX(-50%);
				        transform: translateX(-50%);
			}


		h3{
			font-family: 'Raleway', sans-serif;
			color: #222222;
			font-size: 35px;
			font-weight: 700;
			text-transform: uppercase;

		}


	}

	.ba-services__content{
		text-align: center;
		margin: 156px 0 119px;

		.ba-services__img{
			height: 150px;
		}

		h5{
			font-family: 'Lato', sans-serif;
			color: #222222;
			font-size: 24px;
			font-weight: 400;

		}
		p{
			font-family: 'Lato', sans-serif;
			color: #222222;
			font-size: 16px;
			font-weight: 400;
			width: 340px;
			margin: 0 auto;
		}

	}

}
.ba-section__phone{
	background: black url(../img/blackbg.jpg) no-repeat;
	min-height: 500px;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	position: relative;


	h5{
		margin: 170px 0 0;
		text-transform: uppercase;
		font-size: 44.67px;
		font-weight: 400;

	}
	p{
		font-size: 22px;
		font-weight: 100;
		width: 516px;
		margin-bottom: 60px;
	}
	a{
		color: #FFF;
		font-size: 18px;
		font-weight: 400;

		&:hover{
			color: blue;
		}
	}

	.ba-section__phone-img{
		position: absolute;
		bottom: 0;
	}
}
.ba-section__our-work{

	.ba-caption{
		text-align: center;
		margin: 116px 0	166px;
		position: relative;

		&:after{
			content: "";
			position: absolute;
			width: 86px;
			height: 2px;
			background-color: #222222;
			left: 50%;
			-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
					 -ms-transform: translateX(-50%);
					     -o-transform: translateX(-50%);
					        transform: translateX(-50%);
			}


			h3{
				font-family: 'Raleway', sans-serif;
				color: #222222;
				font-size: 35px;
				font-weight: 700;
				text-transform: uppercase;

			}
		}
	.ba-section__our-work-item{
		display: inline-block;
		overflow: hidden;
		text-align: center;
		position: relative;
		width: 370px;
		height: 420px;


		&-overlay{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			visibility: hidden;
			pointer-events: none;
			z-index: 1;
			transition: opacity .3s, visibility .3s;
			background-color: rgba(0, 0, 0, 0.75);
			display: flex;
			-webkit-align-content: center;
			        align-content: center;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: center;
			        justify-content: center;
			cursor: pointer;


			p{
				text-transform: uppercase;
				font-family: 'Lato', sans-serif;
				color: #ffffff;
				font-size: 22px;
				font-weight: 400;
				text-align: center;

			}

		}

		&:hover .ba-section__our-work-item-overlay{
			visibility: visible;

		}
	}


	&-button{
		text-align: center;
		padding: 79px 0 90px;

		a{
		font-family: 'Lato', sans-serif;
		color: #222222;
		font-size: 24px;
		font-weight: 400;
		text-align: center;
		border: 3px solid #222222;
		text-transform: uppercase;
		margin: 0 auto;
		text-decoration: none;
		padding: 12px 145px;

		&:hover{
			color: blue;
			border: 3px solid blue;
			background-color: #676767;
			opacity: .8;
		}
		}
	}
}
.ba-footer{
	background: url(../img/bgfoot.jpg) no-repeat;
	padding-top: 80px;

	.ba-caption{
		text-align: center;
		position: relative;
		margin-bottom: 140px;

		&:after{
			content: "";
			position: absolute;
			width: 86px;
			height: 2px;
			background-color: #ffffff;
			left: 50%;
			-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
					 -ms-transform: translateX(-50%);
					     -o-transform: translateX(-50%);
					        transform: translateX(-50%);
			}


			h3{
				font-family: 'Raleway', sans-serif;
				color: #ffffff;
				font-size: 35px;
				font-weight: 700;
				text-transform: uppercase;

			}

	}

	.ba-social-icons{
		list-style: none;
		text-align: center;
		padding-left: 0;

		li{
			display: inline-block;
			padding-left: 24px;

			&:first-child{
				padding-left: 0;
			}

			.ba-social-icons__item{
				width: 25px;
				height: 25px;
				cursor: pointer;


				svg{
					fill: rgb(255,255,255);

					&:hover{
						fill: #676767;
					}
				}
			}

		}
	}

	.ba-form{
		width: 670px;
		margin: 70px auto 0;
		text-align: center;

		input[type="name"]{
			display: inline-block;
			width: 302px;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #afafaf;
			padding: 0 0 0 30px;
			outline: none;
		}
		input[type="email"]{
			display: inline-block;
			width: 302px;
			margin-left: 53px;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #afafaf;
			padding: 0 0 0 30px;
			outline: none;

		}
		input[type="text"]{
			margin-top: 100px;
			width: 660px;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #afafaf;
			padding: 0 0 0 30px;
			outline: none;
		}

		input[placeholder]{
			font-family: 'Lato', sans-serif;
			color: #676767;
			font-size: 18px;
			font-weight: 400;
			line-height: 40px;
			text-align: left;
			font-style: italic;
		}

		button{
			margin: 50px 0 70px;
			text-transform: uppercase;
			font-family: Lato;
			color: #ffffff;
			font-size: 24px;
			font-weight: 400;
			line-height: 60px;
			text-align: center;
			background-color: transparent;
			border: 3px solid #fff;
			padding: 0 60px;
			font-style: normal;
			cursor: pointer;

			&:hover{
				background-color: #676767;
			}

		}
	}
}









/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}



/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
